<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>EDM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td style="font-family: Arial, sans-serif;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="text-align:center;">
              <tbody>
                <tr>
                  <td>
                    <div style="width:600px;max-width: 100%;"><img style="width: 100%;max-width: 100%; display: block;" src="http://test.legenddigital.com.au/jack/hcash_email/images/banner.jpg" width="600" alt=""></div>
                  </td>
                </tr>
                <tr>
                  <td style="font-size:24px;color:#1B222D;padding:30px 10px 30px 10px;">
                    Dear member,
                  </td>
                </tr>
                <tr>
                  <td style="font-size:18px;color:#1B222D;padding:0 10px 80px 10px;">For security purposes, please click
                    <a href="{{ .URL }}" style="color:#0e5bc9;">here</a> to complete your email linking</td>
                </tr>
                <tr>
                  <td style="border-top: 1px solid #BABCC0; font-size:18px;color:#1B222D;padding:50px 10px 20px 10px;">Yours Sincerely</td>
                </tr>
                <tr>
                  <td style="font-size:18px;color:#1B222D;padding:0px 10px 30px 10px;">Team HCASH</td>
                </tr>
                <tr>
                  <td style="font-size:18px;color:#1B222D;padding:0px 10px 120px 10px;"><img src="http://test.legenddigital.com.au/jack/hcash_email/images/icon.jpg" width="46"></td>
                </tr>
                <tr>
                  <td style="background-color: #f7f6f7;color: #000000;font-size:14px; text-align:center;padding:20px 10px;">© Copyright 2018
                    <span style="color:#8219bf;">HCASH</span>, All rights reserved.</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>